@font-face {
  font-family: BarlowSemiBold;
  src: url(/fonts/BarlowSemiCondensed-SemiBold.ttf);
}

@font-face {
    font-family: BarlowSemiBoldItalic;
    src: url(/fonts/BarlowSemiCondensed-SemiBoldItalic.ttf);
  }

body {
  margin: 0;
  overflow-x: hidden;
}
