.hidden {
    display: none;
}

.rootContainer { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.contentContainer {
    max-width: 956px;
    margin: auto;
    display: flex;
    flex-direction: column;
}