.hidden {
    display: none;
}

.rootContainer { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.headerContainer {
    padding-top: 30px;
}

.contentContainer {
    max-width: 956px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header {
    font-family: 'BarlowBoldItalic'; font-size: 48px;
    color: white;
    text-shadow: 2px 2px #000;
    text-align: right;
    margin: 0;
}

@media screen and (max-width: 768px){
    .header {
        font-size: 24px;
        margin-right: 30px;
    }
}

.headerTitle {
    margin: 0;
}

h2.headerTitle  {
    font-family: 'BarlowBold'; font-size: 60px;
    color: white;
    text-shadow: 2px 2px #000;
}

@media screen and (max-width: 768px){
    h2.headerTitle {
        font-size: 36px;
        margin-left: 30px;
    }
}

h3.headerTitle  {
    font-family: 'BarlowSemiBold'; font-size: 26px;
    color: white;
    text-shadow: 2px 2px #000;
}

@media screen and (max-width: 768px){
    h3.headerTitle {
        font-size: 14px;
        margin-left: 30px;
    }
}



.header strong  {
    color: #96e2a4;
}