.selectedProjectContainer {
    background-color: #3c3f50;
    border-radius: 84px 84px 0 0;
    padding: 80px 0;
    width: 100%;
}

.selectedProjectComponent {
    composes: componentContainer from './globals.module.css';
}

